body {
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    font-family: monospace;
    color: #ff004c;
    margin: 0;
}

p {
    font-size: 0.9rem;
    color: #888;
}

span {
    color: #ff004c;
}

#title {
    font-size: 2rem;
}

#heart {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background: radial-gradient(circle, #ff004c 0%, #330010 70%);
    transition: transform 0.15s ease, opacity 2s ease;
    opacity: 0.8;
}

#heart:hover {
    cursor: pointer;
}

#status {
    margin-top: 2rem;
    font-size: 1rem;
    color: #888;
}

#title {
    color = "#ff004c"
}
