<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Heartbeat Server</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.png">
</head>
<body>
    <h1 id="title">World's Heartbeat</h1>
    <br>
    <br>
    <div id="heart"></div>
    <br>
    <br>
    <div id="status">Connecting...</div>
    <br>
    <div id="info"></div>

    <script src="/static/client.js"></script>
</body>
</html>
