<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Heartbeat Server</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.png">
</head>
<body>
    <h1 id="title">World's Heartbeat</h1>
    <br>
    <br>
    <div id="heart"></div>
    <br>
    <br>
    <div id="status">
        <p><span id="bpm"></span><span id="observers"></span></p>
    </div>
    <br>
    <div id="info">
        <p>Heart's life: <span id="heart_life">{{ stats.heart_life }}</span></p>
        <p>Highest Number of Observing: <span id="max_clients"></span></p>
        <p>Total Visits: <span id="total_visits">{{ stats.total_visits }}</span></p>
        <p>Total Heart's Rebirths: <span id="number_of_births">{{ stats.number_of_births }}</span></p>
        <p>Total Heart's Deaths: <span id="number_of_deaths">{{ stats.number_of_deaths }}</span></p>
    </div>

    <script src="/static/client.js"></script>
</body>
</html>
